 @using TechSavvy.Areas.Identity.Data

@model ICollection<TechSavvyUser>

	

<legend class="bg bg-info text-center rounded-pill"><h2><strong>List Of Employees</strong></h2></legend><br /><br />
<hr/>
<div>

    <p>
        <a asp-action="AddUser" class="btn btn-primary">Add New Employee</a>
    </p>
    @if (Model != null && Model.Any())
    {
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <td scope="col">Name</td>
                            <td scope="col">Surname</td>
                            <td scope="col">Email</td>
                            <td scope="col">Actions</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model)
                        {
                            <tr>
                                <td>@user.FirstName</td>
                                <td>@user.Surname</td>
                                <td>@user.Email</td>
                                <td><a asp-controller="User" asp-action="Edit" asp-route-id="@user.Id">Edit</a></td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
    }
</div>

