@{
    ViewData["Title"] = "Help";
}

<section>
    <h3 class="text-center mb-4 pb-2 text-primary fw-bold">Get Help</h3>
    <p class="text-center mb-5">
        Find the answers for the most frequently asked questions below
    </p>

    <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
                <i class="far fa-paper-plane text-primary pe-2"></i>Is it safe to use my credit card on this Website?
            </h6>
            <p>
                <strong><u>Absolutely!</u></strong> We work with top payment companies which guarantees
                your
                safety and
                security. All billing information is stored on our payment processing partner.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
                <i class="fas fa-pen-alt text-primary pe-2"></i> What are TechSavvy Online store delivery options ?
            </h6>
            <p>
                <strong><u>Yes, it is possible!</u></strong> We have three options to get your package safe in your arms. Please follow this link to learn more about on our delivery options: 
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
                <i class="fas fa-user text-primary pe-2"></i> Do I need to register to order products?
                </h6>
            <p>
               Yes, at TechSavvy Online store, you need to have a valid account to be able to purchase our products.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
                <i class="fas fa-rocket text-primary pe-2"></i> What about
            </h6>
            <p>
                Yes. Go to the billing section of your dashboard and update your payment information.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
                <i class="fas fa-home text-primary pe-2"></i> Can I return products?
            </h6>
            <p>
                <strong><u>Fortunately yes</u>.</strong> We strive to give our customers the best experience with our products and if our product does not meet the standard  of our customer,we will gadly take it back and communicate further.
            </p>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <h6 class="mb-3 text-primary">
                <i class="fas fa-book-open text-primary pe-2"></i> Another
                question that is longer than usual
            </h6>
            <p>
                Of course! We’re happy to offer a free plan to anyone who wants to try our service.
            </p>
        </div>
    </div>
</section>
<!--Section: FAQ-->
